<html>
	<head>
		<title>OACamp</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<link rel="icon" type="image/png" href="https://cdn1.iconfinder.com/data/icons/camping-65/500/bonfire-256.png">
	</head>
	<body class="out-background">
		<h1 id="out-text" class="content-align-center text-center">FORA DE ROTA!</h1>
	</body>
</html>