<% include ./partials/header %>
<div class="row">
	<div class="col-md-12">
		<form action="/reset/<%= token %>" method="POST">
		  <legend>Resetar Senha</legend>
		  <div class="form-group">
		    <label for="password">Nova Senha</label>
		    <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form-control"/>
		  </div>
		  <div class="form-group">
		    <label for="confirm">Confirmar Senha</label>
		    <input type="password" name="confirm" value="" placeholder="Confirm password" class="form-control"/>
		  </div>
		  <div class="form-group">
		    <button type="submit" class="btn btn-primary">Alterar Senha</button>
		  </div>
		</form>
	</div>
</div>
<% include ./partials/footer %>