<% include ../partials/header %>

<div class="row">
    <h1 style="text-align: center">Criar Conta</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/register" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password" required>
            </div>
			<div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="email" required>
            </div>
			<div class="form-group">
                <input class="form-control" type="text" name="adminCode" placeholder="admin validation">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Acampar!</button>
            </div>
        </form>
		<p class="text-center">Já possui conta? <a href="/login" style="text-decoration: none;">Entrar</a></p>
    </div>
</div>

<% include ../partials/footer %>